@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
    background-color: hsl(217, 54%, 11%);
    margin: 0 auto;
}

footer {
    color: hsl(0, 0%, 100%);
}

.container {
    display: flex;
    justify-content: center;
}

.label {
    font-family: Outfit;
    display: inline-block;
    margin-top: 5%;
    width: 19vw;
    height: 68vh;
    background-color: hsl(216, 50%, 16%);
    border-radius: 5%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}

.equilibrium {
    object-fit: cover;
    padding: 5%;
    width: 90%;
    height: 50%;
    border-radius: 10%;
}

.equilibrium:hover {
   opacity: 0;
}

.eye {
    opacity: 1;
    position: absolute;
    transform: translate(-200px, 150px);
    z-index: -1;
}

.image:hover {
    opacity: 0.5;
    cursor: pointer;
    background: linear-gradient(rgb(0, 255, 247, 0.7), rgb(0, 255, 247, 0.7)),url("./images/image-equilibrium.jpg"); 
    background-size: contain;
    border-radius: 10%;
    z-index: -1;
}


h1 {
    color: hsl(0, 0%, 100%);
    margin-left: 5%;
    font-size: 25px;
    font-weight: 300;
}

h1:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

h2 {
    color: hsl(215, 51%, 70%);
    font-size: 18px;
    font-weight: 100;
    margin-left: 5%;
}

.eth {
    color: hsl(178, 100%, 50%);
}

.time {
    color: hsl(215, 51%, 70%);
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
}

p.eth {
    margin-left: 5%;
}

p.time {
    margin-right: 5%;
}

.imgEth {
    padding-right: 5px;
}

.imgTime {
    padding-right: 5px;
}

hr {
    margin: 5%;
    background-color: rgba(46, 65, 92, 0.9);
    height: 1px;
    border: none;
    
}

.creator {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    color: hsl(0, 0%, 100%);
}

.avatarImg {
    width: 30px;
    height: auto;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 50% 50% 50% 50%;
}

.creation {
    color: hsl(215, 51%, 70%);
    padding-right: 5px;
}

footer {
    position: absolute;
    left: 2%;
    bottom: 3%;
}

a {
    color: hsl(215, 51%, 70%);
}

@media screen and (max-width: 1000px) {
.label {
    width: 90vw;
    height: 90vh;
}

footer {
    display: none;
}

}

.name:hover {
    color:hsl(178, 100%, 50%);
    cursor: pointer;
}
